.navbar-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  position: relative;

  & .logo {
    position: absolute;
    display: flex;
    left: 4%;
    top: 4%;
    text-decoration: none;
    gap: 10px;
    outline: 0;

    & .logo-one-text {
        color: black;
        font-size: 2rem;
        font-weight: 600;
    }

    & .logo-two-text {
        color: rgb(129, 129, 129);
        font-size: 2rem;
        font-weight: 600;
    }
  }

  & .contact-button {
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 30px;
    padding: 6px 16px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: absolute;
    right: 225px;
    top: 30px;

    &:hover::after{
        content: "";
        margin-left: 0.5rem;
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
   
  }

  & .hamburger-button {
    display: inline-block;
    cursor: pointer;
    background-color: inherit;
    border: none;
    margin-right: 5rem;
    margin-left: 3rem;
    position: absolute;
    right: 0.5%;
    top: 4%;

    & .line {
      background-color: black;
      width: 30px;
      height: 5px;
      margin: 5px 0;
      border-radius: 5px;
      transition: 0.5s;
      transform-origin: 4% 60%;
    }
  }

  & .hamburger-button:focus {
    outline: 0;
  }

  & .hamburger-button[aria-expanded="true"] .bar1 {
    transform: rotate(45deg);
  }
  & .hamburger-button[aria-expanded="true"] .bar2 {
    opacity: 0;
  }
  & .hamburger-button[aria-expanded="true"] .bar3 {
    transform: rotate(-45deg);
  }

  & .primary-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    position: absolute;
    right: 0px;
    top: 0px;

    & .menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
      background-color: hsla(0, 0%, 0%, 0.1);
      position: relative;
      transform: translateX(100%);
      transition: 0.5s ease-in;

      & .link-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100px;
        gap: 2rem;

        & .link {
          color: rgb(0, 0, 0);
          text-decoration: none;
          transition: 0.5s;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
    & .menu[data-visible="true"] {
      transform: translateX(0%);
    }
  }
}
