.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.navbar .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  width: 100%;
}
.navbar .menu .logo {
  font-size: 2.5rem;
}
.navbar .menu .menu-container {
  display: flex;
  gap: 3rem;
  font-size: 1.2rem;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
}
.intro .intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}
.intro .intro-container .intro-main-text {
  font-size: 3rem;
  color: white;
}
.intro .intro-container .intro-text {
  font-size: 2rem;
  color: white;
}
.intro .intro-container .introduction-container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}
.intro .intro-container .introduction-container .introduction {
  line-height: 1.2rem;
  word-spacing: 1px;
  color: white;
}

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: black;
  background-image: linear-gradient(rgba(109, 109, 109, 0.7), rgba(116, 116, 116, 0.7)), url("../img/5549717.jpg");
  background-size: cover;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: white;
}

